CPython 3.8.3
IPython 7.16.1

pandas 1.0.5
numpy 1.18.5
cv2 4.4.0
sklearn.cluster 0.23.1
skimage 0.16.2
matplotlib 3.2.2

compiler   : MSC v.1916 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
CPU cores  : 6
interpreter: 64bit