CPython 3.8.3
IPython 7.16.1

pandas 1.0.5
numpy 1.18.5
watermark 2.0.2

compiler   : MSC v.1916 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
CPU cores  : 4
interpreter: 64bit